<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.flag.android_training.dummy_android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="pt.flag.android_training.dummy_android.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="pt.flag.android_training.dummy_android.ContactsActivity"
            android:label="@string/my_contacts_label" />
       
        <activity android:name="pt.flag.android_training.dummy_android.PrefsActivity" />
       
        <activity android:name="pt.flag.android_training.dummy_android.DummyActivity" />

        <receiver android:name="pt.flag.android_training.dummy_android.ChangeConnectivityCapture" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            	<action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        
        <service android:name="pt.flag.android_training.dummy_android.services.AddContactService" />
        <service android:name="pt.flag.android_training.dummy_android.services.RemoveContactService" />
        
        <provider 
            android:name="pt.flag.android_training.dummy_android.providers.ContactsProvider" 
            android:authorities="pt.flag.android_training.dummy_android.providers" />
        
    </application>

</manifest>